// @mixin fontWeightRegular {
//   $fontRobotoRegular: "Roboto";
//   font-weight: 400;
// }
// @mixin fontWeightBold {
//   $fontRobotoRegular: "Roboto";
//   font-weight: 700;
// }
/* ********* mixin ************* */
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin fontBold($size, $lineHeight) {
  font-family: "Roboto";
  font-size: $size;
  line-height: $lineHeight;
  font-weight: 700;
}
@mixin fontRegular($size, $lineHeight) {
  font-family: "Roboto";
  font-size: $size;
  line-height: $lineHeight;
  font-weight: 400;
}
@mixin grid($columns, $rows) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}

/* COlOR */
$colorWhite: white;
$colorRedDark: #b03640;
$colorRed: #c21e39;
$colorWhiteYellowBG: #f2e8e4;
$colorYellowLight: #f2ded5;
$colorBlack: black;
$colorBlackLight: #14141a;

/* color header */
$colorHeaderText: #8e7b5b;

$colorFooterBG: #242424;
$colorFooterText: #d0d0d0;

/* .memorial-map-page */
$colorItemBorder: #f1f2f8;

/* map */
$colorButtonDes: #a8a8a8;

/* .streets-victory__item__body */
$colorBorderVictoruStreet: #e7e7e7;
$colorBallBGVictoruStreet: #eeeeee; ;
