@import "fonts_mixins";
a {
  text-decoration: none;
}
body {
  max-width: 1440px;
  min-width: 100%;
  height: 100%;
  @include fontRegular(16px, 150%);
  line-height: 130%;
  padding: 0;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* ********** container ************ */
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 0 1;
}
._container {
  max-width: 1220px;
  padding: 0px 15px;
  margin: 0 auto;
}
.display-none {
  display: none;
}
.title {
  @include fontRegular(40px, 125%);
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .title {
    font-size: 25px;
  }
}
.item {
  border: 1px solid $colorItemBorder;
  cursor: pointer;
}
.item:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid $colorItemBorder;
}
.fz-16 {
  @include fontRegular(16px, 150%);
}
@media (max-width: 768px) {
  .fz-16 {
    font-size: 10px;
  }
}

@import "header";
@import "main-block";
@import "map1";
@import "map";

@import "footer";
